.home-header {
  background-color: $pine;
  height: 80vh;
  width: 100%; 
}

.home-header__hero {
  display: flex;
  position: relative;
  height: 70vh;
}

.home-header__hero-text {
  position: relative;
}

.home-header__hero-img {
  box-shadow: 20px 20px rgb(252, 238, 238);
  position: absolute;
  left: 58%;
  top: 12%;
}

.home-header__hero-title {
  font-size: 8.5rem;
  margin: 50% auto;
}

.home-header__hero-subtitle {
  position: absolute;
  top: 35%;
  left: -10%;
}

