.home-content {
  display: flex;  
  flex-direction: column;
}

.home-about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.home-button{
  color: $black;
  background: $accent;
  font-family: $ff-primary;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid $accent;
}

// Modal Styling

.home-button__modal {
  position: relative;
  top: 0px;
  left: 1%;
}

.home-button__modal:hover{
  color: white;
  background-color: black;

}

.home-button__container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

.home-button__content {
  position: relative;
  background-color: $accent;
  color: $black;
  margin: 20% auto;
  width: 50%;
  padding: 30px;
  height: 50%;

}

.home-button__Off {
  color: grey;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;

}

.home-button__Off:hover,
.home-button__Off:focus {
  color: $black;
  cursor: pointer;
}

//End of Modal Styling

.home-favourite-things {
  display: flex;
  flex-direction: row;
  background: white;

}

.home-favourite__greenbox {
  position: relative;
  width: 50%;
}

.home-favourite-things__img-container {
    background: $green-grey;
    position: relative;
    width: 100%;
    // height: 400px;
    left: -280px;
    bottom: 20px;
}

.home-favourite-img {
  position: relative;
  left: 103px;
  bottom: 20px;
}

.home-favourite-things__content{
  width: 50%;
  // padding-left: 10%;
  margin: 10px;
}

.home-bucket-list {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 30px;
  width: 100%;
}

.home-bucket-list__text {
  text-align: end;
  // width: 50%;
  padding-right: 2%;
}

.home-bucket-list__green-box {
  position: relative;
}

.home-bucket-list__img-container {
  background-color: $green-grey;
  width: 701px;
  position: relative;
  left: 100px;
  // bottom: 20px;
}

.home-bucket-list__img {
  position: relative;
  bottom: 20px;
}

.home-journey {
  height: 400px;
  padding-top: 100px;
}

.home-journey__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 50px 100px;
  // height: 50px;
}

.home-journey__img-container {
  width: 600px;
  // background-color: $green-grey;
  // position: relative;
}

.home-journey__img {
  // position: relative;
  // bottom: 20px;
  box-shadow: 20px 20px $green-grey;
}

.home-journey__text {
  width: 90%;
}

.home-banner {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  // width: 2000px;  
  background: white;
}

.home-banner__img {
  width: 100%;
}


.home-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: white;
  padding-bottom: 60px;
}

// Blog Section

.blog-header {
  background-color: $white-shade;
}

.blog-content {
  display: flex;
  margin-top: 10%;
}

.blog-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 20vw;
  padding: 30px;
  margin: 5% 15%;
}



.blog-article__container {
  width: 60vw;
  height: 60%;
  background: white;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 17px;
}

.blog-posts {
  background: white;
  width: 20vw;
  padding: 30px;
  margin: 5%  15%;
  // text-decoration: none;
}

.blog-posts__ul  {
  list-style: none;
  padding-left: 0;
}

.blog-post__a {
  text-decoration: none;
}

.blog-daisy,
.blog-comments__barb {
  width: 60%;
  height: 60%;
  background: white;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  top: 17px;
  left: 170px;
  
}

.blog-form__email {

}

.blog-form__comments {

}

.blog-form___button {
  color: $black;
  background: $accent;
  font-family: $ff-primary;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid $accent;
}



