@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&display=swap');

$ff-primary: 'Abril Fatface', cursive; 
$ff-secondary: 'Montserrat', sans-serif;

$fw-n: 400;
$fw-b: 700;
