@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f6f6;
  font-size: 125%;
  line-height: 32px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: #f6f6f6;
  font-size: 4rem;
  line-height: 92px;
  letter-spacing: 1px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
h3,
h4 {
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  letter-spacing: 1px;
}

.home-header__a {
  font-weight: 700;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.home-header {
  background-color: #345231;
  height: 80vh;
  width: 100%;
}

.home-header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 70vh;
}

.home-header__hero-text {
  position: relative;
}

.home-header__hero-img {
  -webkit-box-shadow: 20px 20px #fceeee;
          box-shadow: 20px 20px #fceeee;
  position: absolute;
  left: 58%;
  top: 12%;
}

.home-header__hero-title {
  font-size: 8.5rem;
  margin: 50% auto;
}

.home-header__hero-subtitle {
  position: absolute;
  top: 35%;
  left: -10%;
}

.blog-header {
  height: 30vh;
}

.blog-header__hero {
  background-image: url(../../../assets/blog-image-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  margin-top: 0;
  position: absolute;
}

.blog-header__title {
  height: 10vh;
  padding-bottom: 20px;
  margin-top: 0;
  position: relative;
  left: 150px;
  top: 212px;
}

.home-header__nav,
.blog-header__nav {
  text-align: center;
  background-color: #345231;
}

.home-header__ul,
.blog-header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.home-header__li--span,
.blog-header__span {
  color: #f6f6f6;
  font-size: 2.1rem;
  font-family: "Abril Fatface", cursive;
}

.home-header__a,
.blog-header__a {
  text-decoration: none;
  color: #f6f6f6;
}

.home-header__a--accent,
.blog-header__span {
  color: #e4a436;
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.home-button {
  color: #1f1f1f;
  background: #e4a436;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e4a436;
}

.home-favourite-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
}

.home-favourite__greenbox {
  position: relative;
  width: 50%;
}

.home-favourite-things__img-container {
  background: #709b6b;
  position: relative;
  width: 100%;
  left: -280px;
  bottom: 20px;
}

.home-favourite-img {
  position: relative;
  left: 103px;
  bottom: 20px;
}

.home-favourite-things__content {
  width: 50%;
  margin: 10px;
}

.home-bucket-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  margin-top: 30px;
  width: 100%;
}

.home-bucket-list__text {
  text-align: end;
  padding-right: 2%;
}

.home-bucket-list__green-box {
  position: relative;
}

.home-bucket-list__img-container {
  background-color: #709b6b;
  width: 701px;
  position: relative;
  left: 100px;
}

.home-bucket-list__img {
  position: relative;
  bottom: 20px;
}

.home-journey {
  height: 400px;
  padding-top: 100px;
}

.home-journey__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-journey__img-container {
  width: 600px;
}

.home-journey__img {
  -webkit-box-shadow: 20px 20px #709b6b;
          box-shadow: 20px 20px #709b6b;
}

.home-journey__text {
  width: 90%;
}

.home-banner {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.home-banner__img {
  width: 100%;
}

.home-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  padding-bottom: 60px;
}

.blog-header {
  background-color: #f6f6f6;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.blog-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  width: 20vw;
  padding: 30px;
  margin: 5% 15%;
}

.blog-article__container {
  width: 60vw;
  height: 60%;
  background: white;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 17px;
}

.blog-posts {
  background: white;
  width: 20vw;
  padding: 30px;
  margin: 5% 15%;
}

.blog-posts__ul {
  list-style: none;
  padding-left: 0;
}

.blog-post__a {
  text-decoration: none;
}

.blog-daisy,
.blog-comments__barb {
  width: 60%;
  height: 60%;
  background: white;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  top: 17px;
  left: 170px;
}

.blog-form___button {
  color: #1f1f1f;
  background: #e4a436;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e4a436;
}

.home-footer {
  margin-top: 50px;
}

.home-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-footer__about,
.home-footer__contact {
  width: 100%;
}

.home-copyright {
  color: white;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}